body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(228, 232, 236);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: #24325FFF;}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

input {
    border-radius: 10px;
    border: 0px;
    padding: 5px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border: 0px;
    padding: 2px;
    background-color: #FB6467FF;
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    width: 150px;
}

button:hover {
    background-color: rgb(17, 23, 46);
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 50px;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 30px;
    color: #24325FFF;
}

h3 {
    font-size: 24px;
    /* margin-top: 20px; */
}

img {
    border-radius: 10px 10px 0 0;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

p {
    font-size: 20px;
    font-weight: 600;
}

.cardStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 0 5px 5px 5px;
    width: 300px;
    height: 400px;
    text-align: center;
    color: white;
}

.cardStyle h3 {
    color: #24325FFF;
}

.characterContainer {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.modal {
    display: hidden;
}

.modalShowed {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    overflow: auto;
    height: 600px;
    width: 350px;
    z-index: 9999;
    text-align: center;
    align-items: center;
    background-color: #FB6467FF;
    border-radius: 10px;
    position: fixed; /* Uses fixed positioning for the modal */
    top: 50%; /* Centers vertically */
    left: 50%; /* Centers horizontally */
    transform: translate(-50%, -50%); /* Centers the modal */
}

.modalShowed img {
    border-radius: 10px 10px 0 0;
    margin-bottom: 5px;
    width: 350px;
    height: 350px;
}

.modalShowed h3 {
    font-size: 28px;
    margin-bottom: 15px;
}

.modalShowed p {
    font-size: 18px;
    margin: 0;
}

.modalShowed button {
    background-color: #24325FFF;
    margin-top: 20px;
    width: 70px;
}
